{% extends "layout.html" %} {% block content %}
<div class="bg-home">
	<div class="container">
		<div class="inner">
			<div class="home-content">
				<div class="img"><img src="./images/doctor1.png" /></div>
				<div class="left">
					<h2 class="title">Nurtən Abdullayeva <span>mama-ginekoloq</span></h2>
					<div class="desc">FƏRDİ VƏ PEŞƏKAR TİBBİ YARDIM</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="services">
		<div class="cl-row" data-match-height=".item">
			<div class="cl">
				<a class="item">
					<span class="img" data-image-src="images/sample/services/1.svg"></span>
					<span class="title">Norma və riskli hamiləliyin təqibi</span>
				</a>
			</div>
			<div class="cl">
				<a class="item">
					<span class="img" data-image-src="images/sample/services/2.svg"></span>
					<span class="title">Normal doğuş</span>
				</a>
			</div>
			<div class="cl">
				<a class="item">
					<span class="img" data-image-src="images/sample/services/3.svg"></span>
					<span class="title">Qeysəriyyə əməliyyatı</span>
				</a>
			</div>
			<div class="cl">
				<a class="item">
					<span class="img" data-image-src="images/sample/services/4.svg"></span>
					<span class="title">Ginekoloji xəstəliklərin müalicəsi</span>
				</a>
			</div>
			<div class="cl">
				<a class="item">
					<span class="img" data-image-src="images/sample/services/5.svg"></span>
					<span class="title">Hormon əvəzləyici terapiya (HRT)</span>
				</a>
			</div>
		</div>
	</div>
	<div class="blog">
		<div class="title-wrap">
			<h2 class="title">BLOQ YAZILARI</h2>
			<div class="btn-wrap"><a class="btn bg-white" href="">Daha çox</a></div>
		</div>
		<div class="slider">
			<div>
				<div href="" class="item">
					<div class="img"><img src="images/sample/blog/1.png" alt=""></div>
					<div class="title">Hamiləlik zamanı müayinəyə neçə dəfə gedilməlidir?</div>
				</div>
			</div>
			<div>
				<div href="" class="item">
					<div class="img"><img src="images/sample/blog/2.png" alt=""></div>
					<div class="title">Ana südü</div>
				</div>
			</div>
			<div>
				<div href="" class="item">
					<div class="img"><img src="images/sample/blog/3.png" alt=""></div>
					<div class="title">Vaginal axıntı</div>
				</div>
			</div>
			<div>
				<div href="" class="item">
					<div class="img"><img src="images/sample/blog/4.png" alt=""></div>
					<div class="title">D vitamini</div>
				</div>
			</div>
		</div>
	</div>
	<div class="gallery">
		<div class="title-wrap">
			<h2 class="title">QALEREYA</h2>
		</div>
		<div class="slider">
			<div><a data-fancybox="gallery" href="images/sample/gallery/1.jpg"><img src="images/sample/gallery/1.jpg"></a></div>
			<div><a data-fancybox="gallery" href="images/sample/gallery/2.jpg"><img src="images/sample/gallery/2.jpg"></a></div>
			<div>
				<a data-fancybox="gallery" class="video" href="images/sample/gallery/video/2.mp4">
					<video>
						<source src="images/sample/gallery/video/2.mp4" type="video/mp4">
						<source src="images/sample/gallery/video/2.mp4" type="video/ogg">
					  Your browser does not support the video tag.
					  </video>
				<i></i></a>
			</div>
			<div><a data-fancybox="gallery" href="images/sample/gallery/3.jpg"><img src="images/sample/gallery/3.jpg"></a></div>
			<div><a data-fancybox="gallery" href="images/sample/gallery/4.jpg"><img src="images/sample/gallery/4.jpg"></a></div>
			<div><a data-fancybox="gallery" href="images/sample/gallery/5.jpg"><img src="images/sample/gallery/5.jpg"></a></div>
			<div><a data-fancybox="gallery" href="images/sample/gallery/6.jpg"><img src="images/sample/gallery/6.jpg"></a></div>
			<div><a data-fancybox="gallery" href="images/sample/gallery/7.jpg"><img src="images/sample/gallery/7.jpg"></a></div>
			<div><a data-fancybox="gallery" href="images/sample/gallery/8.jpg"><img src="images/sample/gallery/8.jpg"></a></div>
		</div>
	</div>
	<div class="about">
		<div class="title-wrap">
			<h2 class="title">Haqqımda</h2>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="text">
					<p>Mən, Abdullayeva Nurtən Azər qızı 1984-cü ildə həkim ailəsində doğulmuşam.</p>
					<p>Orta məktəb, Bakı şəhəri 1991-2001</p>
					<p>Tibb təhsili 2001-2007</p>
					<p>İnternatura təhsili 2007-2008</p>
					<p>2009-cu ildən hazırkı müddətə qədər Əziz Əliyev adına Azərbaycan Dövlət Həkimləri Təkmilləşdirmə İnstitutunun Mamalıq və ginekologiya kafedrasının assistenti vəzifəsində çalışıram.</p>
					<p>2017-ci ildə İstanbul Universitetinin Cərrahpaşa Tibb Fakultəsində Perinatologiya, 2018-ci ildə isə Ginekologiya üzrə bilik və bacarıqlarımı artırmışam.</p>
					<p>2020-ci ildə ÜST-ün təşəbbüsü ilə təşkil olunan, EGE Universitetinin Tibb Fakultəsinin professor və müəllim heyəti tərəfindən COVİD-19 ilə əlaqədar keçirilən təlimdə iştirak etmişəm.</p>
					<p>UNİCEF tərəfindən təsdiq edilmiş “Hamilə qadınların qidalanması üzrə metodik tövsiyə”nin tərtibatçılarından biriyəm.</p>
					<p>İki övladım var.</p>
					<p>İşimi sevirəm, işimlə qürur duyuram.</p>
					<p>Qadınlarımızın, analarımızın sağlam olması, sağlam yaşaması, sağlam körpələr yetişdirməsi adına bilik və bacarıqlarımı davamlı inkişaf etdirirəm.</p>
					<p>Sağlıq və sevgilə qalın!</p>
				</div>
			</div>
			<div class="col-md-6"><img src="images/nurten-abdullayeva.jpg"></div>
		</div>
	</div>
</div>
{% endblock %}
